$white: #ffffff;
$black: #000000;
$body-color: #1d1d1c;
$add-btn-color: #62c6ed;
$add-btn-border-color: #0da0db;
$add-btn-hover-color: #00b7ff;
$add-btn-active-color: #0ca0db;
$border-color: #e3f033;
$main-text-color: #c7cd26;
$btn-hover-color: #f9ff4c;
$road-btn-hover-color: #2f2f2e;
$road-btn-active-color: #191916;
$disabled-color: #6b6b6b;
$width-container: 1220px;
$btnB-color: #e54941;
